/* assets/css/style.css */

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

/* Estilo do cabeçalho */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilo dos botões */
.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Estilo das seções */
section {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Estilo dos formulários */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input.form-control {
    font-size: 1.2rem;
    padding: 10px;
}

/* Estilo das listas */
ul.list-group {
    list-style-type: none;
    padding: 0;
}

ul.list-group li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s, border-color 0.3s;
}

ul.list-group li:hover {
    background-color: #f1f1f1;
    border-color: #007bff;
}

/* Estilo das navegações */
.navbar {
    margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

/* Estilo do input de busca */
#inputSearch {
    font-size: 1.2rem;
    padding: 10px;
}

/* Estilo do container */
.container {
    max-width: 960px;
    margin: 0 auto;
}