/* Reset básico e estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Estilo para cabeçalhos */
h2 {
    color: #333;
    margin-top: 20px;
}

/* Estilo para formulários */
form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para inputs */
input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para botões */
button {
    margin: 5px 10px;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover para botões */
button:hover {
    background-color: rgb(161, 2, 2);
}

/* Estilo para listas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para divBarras */
#divBarras {
    display: none;
    position: fixed;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    padding-top: 20vh;
    /* Ajusta o padding conforme necessário */
}